<div class="collapse nav-bar-collapse" id="main.nav">
    <ul class="navbar-nav w-auto mx-auto">  
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                SEEDS AND BULBS
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">Clover grass and fodder plant seeds &amp; Essentials</a>
                <a href="" class="dropdown-item">Seed potatoes</a>
                <a href="" class="dropdown-item">Grass mixtures for lawns</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                DECORATIVE PLANTS AND SEEDLINGS
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">Flowering houseplants</a>
                <a href="" class="dropdown-item">Green houseplants</a>
                <a href="" class="dropdown-item">Outdoor plants</a>
                <a href="" class="dropdown-item">Summer houses</a>
                <a href="" class="dropdown-item">Perennials</a>
                <a href="" class="dropdown-item">Mediterranean and spicy herbs</a>
                <a href="" class="dropdown-item">Fruit and berry seedlings</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                FERTILIZERS AND SUBSTRATES
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">Fertilizers</a>
                <a href="" class="dropdown-item">Substrates</a>
                <a href="" class="dropdown-item">Other funds</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                DECORATIVE JARS
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">Indoor flower pots</a>
            </div>
        </li>

    </ul>
</div>